body {
	margin: 0;
	font-family: 'Anonymous Pro', monospace;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #303538;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}
main {
	background-color: #303538;
}
a {
	color: inherit;
	text-decoration: none;
}
body{
	font-weight: 400;
}
a, button {
	font-family: 'Anonymous Pro', monospace;
}
code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}
.button-holder {
	width: 27vw;
	display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}